@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Young-serif";
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --border-rad: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  min-height: 100vh;
  font-family: Outfit, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  color: var(--stone-600);
}
.card-container {
  padding: 1.9rem;
}
img {
  width: 100%;
}

h1 {
  font-family: Young-serif, serif;
  color: var(--stone-900);
  font-size: calc(36 / 16 * 1rem);
}
h2 {
  color: var(--brown-800);
  font-family: Young-serif, serif;
  font-size: calc(28 / 16 * 1rem);
}

hr {
  border: 1px var(--stone-100) solid;
}

.sub-container {
  padding: calc(20 / 16 * 1rem);
  background-color: var(--rose-50);
  border-radius: var(--border-rad);
}

.prep-time {
  color: var(--rose-800);
  font-size: calc(22 / 16 * 1rem);
  font-weight: 700;
  margin-block-start: 0;
}
ul {
  padding-inline-start: 20px;
}
ol {
  padding-inline-start: 20px;
}
li {
  padding-inline-start: 24px;
  line-height: 1.6;
  padding-block-end: 12px;
}
span {
  font-weight: 800;
}
p {
  line-height: 1.6;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid var(--stone-100);
  padding: calc(14 / 16 * 1rem);
  font-size: calc(17 / 16 * 1rem);
}
.bold-cells {
  font-weight: 700;
  color: var(--brown-800);
}
.fat-1 {
  border: 0;
}
.fat-2 {
  border: 0;
  font-weight: 700;
  color: var(--brown-800);
}
footer {
  padding: 1rem;
  font-size: clamp(10px, 3.125vw, 16px);
}
.me {
  text-decoration: none;
  font-weight: 800;
  font-size: clamp(12px, 3.77vw, 18px);
  color: var(--stone-900);
}
@media (min-width: calc(800/16*1rem)) {
  body {
    background-color: var(--rose-50);
  }
  main {
    background-color: var(--white);
    border-radius: var(--border-rad);
    margin: calc(120 / 16 * 1rem) 0;
  }

  .card-container {
    max-width: calc(700 / 16 * 1rem);
    padding-top: 0;
  }
  .img-c {
    max-width: calc(700 / 16 * 1rem);
    padding: 1.9rem;
    padding-bottom: 0;
  }
  .main-img {
    border-radius: var(--border-rad);
  }
}
