@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Young-serif";
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --white: hsl(0, 0%, 100%) --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  min-height: 100vh;
  font-family: Outfit, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  color: var(--stone-600);
}
.card-container {
  padding: 1.9rem;
}
img {
  width: 100%;
}

h1 {
  font-family: Young-serif, serif;
  color: var(--stone-900);
}
h2 {
  color: var(--brown-800);
  font-family: Young-serif, serif;
}

hr {
  color: var(--stone-150);
}
